* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "buckin";
  src: url("../fonts/Ckhans\Buckin-Bold.otf");
}

@font-face {
  font-family: "merge";
  src: url("../fonts/Merge\ W00\ Bold.ttf");
}

@font-face {
  font-family: "gentyDemo";
  src: url("../fonts/GentyDemo-Regular.otf");
}

@font-face {
  font-family: "amiger";
  src: url("../fonts/AMIGER_CARTOON-NORMAL-400-100.OTF");
}

:root {
  --font-buckin: "buckin", sans-serif;
  --font-merge: "merge", sans-serif;
  --font-gentyDemo: "gentyDemo", sans-serif;
  --font-amiger: "amiger", sans-serif;

  --gradient1: linear-gradient(
    96.66deg,
    #e0b5fc -14.92%,
    #ffd87d 60.94%,
    #554cff 139.9%
  );
  --gradient2: linear-gradient(
    96.66deg,
    #ffff7d -14.92%,
    #e0b5fc 69.46%,
    #ff4c9d 122.87%
  );
  --gradient3: linear-gradient(
    96.52deg,
    #7de0ff -14.96%,
    #ff8383 56.76%,
    #85ff4c 119.1%
  );
}

.gentyFont {
  font-family: var(--font-gentyDemo);
}

body {
  background-repeat: no-repeat;
  background-origin: border-box;
  background-size: cover;

  font-family: var(--font-buckin);
}

section {
  background: #cc8d79;
}

.btns a {
  box-shadow: -4px 6px 0px 0px #000000;
  border: 4px solid #343230;
}

.btns a:hover {
  box-shadow: 0px 0px 0px 0px #000000;
}

.mirrorImg {
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
}

.heroTitle {
  text-shadow: 0 5px 5px #599d16;
}

/* marquee */
.marquee {
  display: flex;
  flex-direction: row;
  font-size: 31.57px;
  margin-top: var(--v-medium);
  overflow: hidden;
  position: relative;
  width: 100%;

  background-color: white;
  gap: 0;
  padding-top: 0.5rem;
}

.marquee-left .marquee-el {
  animation-direction: reverse;
}

.marquee-el {
  align-items: center;
  animation: scroll 100s linear 0s infinite;
  animation-delay: 0s;
  animation-play-state: running;
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  flex-direction: row;
  min-width: 100%;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  z-index: 1;
}

.marquee span {
  height: 100%;
  color: #83b450;
  font-family: var(--font-gentyDemo);
  font-size: 32.07px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* title_styling */
.title_styling {
  text-shadow: 0 4px 4px #599d16;
  color: white;
  font-family: var(--font-amiger);
}

@media screen and (max-width: 500px) {
  .title_styling {
    text-shadow: 0 2px 4px #599d16;
  }
}

/* contract */
.copy_address p {
  font-family: "Varela Round", sans-serif;
}

.tax,
.copy_address span {
  font-family: var(--font-merge);
  font-weight: 700;
}

/* animation */
.float_animation {
  animation: float 5s ease-in-out infinite;
  -webkit-animation: float 5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
    -webkit-transform: translatey(-10px);
    -moz-transform: translatey(-10px);
    -ms-transform: translatey(-10px);
    -o-transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

.zoomIn_animation {
  animation: zoomIn_animation 12s ease-in-out infinite;
  -webkit-animation: zoomIn_animation 12s ease-in-out infinite;
}

@keyframes zoomIn_animation {
  0%,
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  50% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
  }
}

.grass_animation {
  animation: grass_animation 3s ease-in-out infinite;
  -webkit-animation: grass_animation 3s ease-in-out infinite;
}

@keyframes grass_animation {
  0%,
  25%,
  40%,
  60% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  14% {
    transform: translateY(5%);
    -webkit-transform: translateY(5%);
    -moz-transform: translateY(5%);
    -ms-transform: translateY(5%);
    -o-transform: translateY(5%);
  }
  34% {
    transform: translateY(5%);
    -webkit-transform: translateY(5%);
    -moz-transform: translateY(5%);
    -ms-transform: translateY(5%);
    -o-transform: translateY(5%);
  }
  55% {
    transform: translateY(5%);
    -webkit-transform: translateY(5%);
    -moz-transform: translateY(5%);
    -ms-transform: translateY(5%);
    -o-transform: translateY(5%);
  }
}

.bg-\[\#AEDC71CC\] {
  background-color: #f1c40f;
}

.heroTitle {
  text-shadow: 0 5px 5px #393c37;
  /* font-size: 60px; */
}

.marquee span {
  height: 100%;
  color: #cc8d79;
  font-family: var(--font-gentyDemo);
  font-size: 32.07px;
  text-shadow: 0 5px 5px #393c3726;
}

.title_styling {
  text-shadow: 0 5px 5px #393c37;
  color: white;
  font-family: var(--font-amiger);
}

.ttl {
  font-size: 140px;
  text-shadow: 0 5px 5px #393c37;
  color: white;
  font-family: var(--font-amiger) !important;
}

.title_styling {
  text-shadow: 0 5px 5px #393c37;
  color: white;
  font-family: var(--font-amiger);
}
.marquee span {
  height: 100%;
  color: #482500;
  font-family: var(--font-amiger);
  font-size: 32.07px;
  text-shadow: 0 5px 5px #393c3726;
}
.ttl {
  font-size: 97px;
  text-shadow: 0 5px 5px #393c37;
  color: white;
  font-family: var(--font-amiger) !important;
}
@media screen and (max-width: 768px) {
  .ttl {
    font-size: 75px;
  }
}
